<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="HandheldFriendly" content="true">
  <meta name="apple-touch-fullscreen" content="YES">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="YES">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="apple-touch-icon" href="/manifest/57.png"/>
  <link rel="apple-touch-startup-image" href="/manifest/iphone.png" media="mobile"/>
  
  <link rel="manifest" href="/manifest/manifest.json" />
  <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5,user-scalable=0">
  <title>bet8win</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>